[submodule "third-party/third-party/pugixml"]
	path = third-party/third-party/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "third-party/pugixml"]
	path = third-party/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "third-party/nfd"]
	path = third-party/nfd
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "third-party/lz4"]
	path = third-party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "third-party/bit7z"]
	path = third-party/bit7z
	url = https://github.com/rikyoz/bit7z.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui.git
